@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar-brand {
  font-weight: 800;
}

nav .btn {
  width: 5rem;
}

* {
  border-radius: 0 !important;
}

@media (min-width: 768px) {
  .navbar-side-el-width {
    width: 17rem;
  }
}
