@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  padding-bottom: 3rem;
}

:root {
  --bs-primary: #e440f7;
  --bs-primary-darker: #cc5ed8;
  --bs-primary-rgb: 111, 66, 193;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary-darker);
  --bs-btn-hover-border-color: var(--bs-primary-darker);
  --bs-btn-active-bg: var(--bs-primary-darker);
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);

  --bs-btn-hover-bg: var(--bs-primary-darker);
  --bs-btn-hover-border-color: var(--bs-primary-darker);
  --bs-btn-hover-color: #fff;

  --bs-btn-active-bg: var(--bs-primary-darker);
  --bs-btn-active-border-color: var(--bs-primary-darker);
  --bs-btn-active-color: #fff;
}

.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.navbar-brand {
  font-weight: 800;
}

nav .btn {
  width: 5rem;
}

.alert {
  margin-top: 1rem;
}

.organaizer-pic {
  width: 48px;
  height: 48px;
}

.event-details-sticky {
  top: 2rem;
  z-index: 10;
}

#id_password_helptext {
  display: none !important;
}

#banner-container {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url("../images/meetup_list_bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center bottom;
}

* {
  border-radius: 0 !important;
}

@media (min-width: 768px) {
  .navbar-side-el-width {
    width: 17rem;
  }
}
