{% extends 'base.html' %}

{% block head_title %}
  404 Page not found
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm border-0 bg-light">
          <div class="card-body p-4">
            <div class="text-center mb-4">
              <h1 class="fw-bolder mb-3">404</h1>
              <p class="lead">This page doesn't exist.</p>
              <a class="btn btn-lg btn-primary" href="{% url 'meetup_list' %}">Return to main page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
