{% load static %}
{% url 'home' as home_url %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      MeetMeet -{% block head_title %}
        Welcome
      {% endblock %}
    </title>
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}">MeetMeet</a>

      |{% if user.is_authenticated %}
        Logged in as {{ user.username }} |
        <a href="{% url 'account_logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'account_login' %}">Login</a> |
        <a href="{% url 'account_signup' %}">Register</a>
      {% endif %}
    </nav>

    <hr />

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <footer>
      <hr />

      <a href="https://github.com/sasha-fedorov" target="_blank" rel="external">© 2026 Copyright: Sasha Fedorov</a>
    </footer>
  </body>
</html>
