{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      MeetMeet -{% block head_title %}
        Welcome
      {% endblock %}
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/svg+xml" sizes="any" href="{% static 'images/favicon.svg' %}" />

    <!-- Botstrap CSS -->
    {% bootstrap_css %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
      <div class="container-fluid">
        <a class="navbar-brand navbar-side-el-width me-0" href="{% url 'meetup_list' %}">
          <img src="{% static 'images/favicon.svg' %}" alt="" width="24" height="24" class="d-inline-block align-text-top" />
          MeetMeet
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse text-end" id="navbarNav">
          <ul class="navbar-nav ms-auto mx-md-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'meetup_list' %}">Home</a>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li> {% endcomment %}
          </ul>

          <ul class="navbar-nav navbar-side-el-width d-flex flex-column flex-md-row align-items-end align-items-md-center justify-content-end">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <span class="navbar-text"><strong>{{ user.username|truncatechars:15 }}</strong></span>
              </li>
              <li class="nav-item ms-md-3 my-2 my-md-0">
                <a class="btn btn-outline-danger btn-sm" href="{% url 'account_logout' %}?next={{ request.path }}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="btn btn-outline-success btn-sm mt-2 mt-md-0" href="{% url 'account_login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-primary btn-sm ms-md-2 my-2 my-md-0" href="{% url 'account_signup' %}">Register</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <main>
      {% bootstrap_messages %}

      {% block content %}

      {% endblock %}
    </main>

    <footer class="container-fluid text-center p-3 bg-body-tertiary fixed-bottom">
      <a class="link-dark link-underline-opacity-0" href="https://github.com/sasha-fedorov" target="_blank" rel="external">© 2026 Copyright: Sasha Fedorov</a>
    </footer>

    <!-- Bootstrap JS script -->
    {% bootstrap_javascript %}
  </body>
</html>
